@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.stepTitle{
    font-weight: 300!important;
}


/* step1 */
/* step2 */
.stepTitle2{
    text-align: center;
    padding-top: 0px!important;

}
.ConfBtn{
    margin-right: 100px;
}


#invisbtn{
 position: absolute!important;
    top: 5000px;
    left: 10px;
}
#Überlagerung{
    position: absolute!important;
    top:5000px ;
 left: 10px;
}
.Rfidbtn{
    margin-block-end: 0px!important;
}


